<!DOCTYPE html>
<html ng-app='AngularCasts'>
<head>
  <title>AngularCats</title>
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js'></script>
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-resource.min.js'></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://caitp.github.io/ng-media/ng-media.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
